.list-grid
  max-width: 1440px
  width: 100%
  margin: 0 auto
  display: flex
  flex: 0 22%
  flex-wrap: wrap
  justify-content: space-between


.content-header
  margin-bottom: 40px
  padding-top: 94px
  height: 220px
  color: #7d7e7f
  background: #1d1e1f
  &__title
    color: #d6d6d6
    font-size: 2.25rem
    font-weight: 300
    line-height: 1.1666666667
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    word-wrap: normal


//  display: flex
//  align-items: center
//  justify-content: space-between
//  color: #fff
//  border-radius: 3px
//  padding: 15px
//  background: linear-gradient(60deg, #b9b3b1, #867f81)
//  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2)
//  &:first-child
//    margin: -44px 0px 0

