.wrap_img
  min-height: 250px
  position: relative
  img
    position: absolute
    left: 0
    right: 0
    top: 0%
    bottom: 0
    margin: auto
    max-height: 250px
    width: auto
    max-width: 100%

.detail-film-background
  background-repeat: no-repeat
  background-size: cover
.card-detail-background
  background: rgba(255, 255, 255, 0.76)
