<section *ngIf="film">


    <header class="content-header">
        <div class="brand_container">
            <div class="content-header__section">Spotlight /</div>
            <h1 class="content-header__title">{{film.title}}</h1>
        </div>
    </header>
    <div class="brand_container card-detail-background">
        <!--[ngStyle]="{'background-image': 'url('+backImg + film.backdrop_path + ')'}"-->
        <mat-card class="brand-card detail">
            <div class="brand-card__left">
                <div class="brand-card__img">
                    <img mat-card-image [src]="imgUrl+film.poster_path" alt="{{film.title}}">
                </div>
            </div>
            <div class="brand-card__right">
               <mat-card-content>
                   <ul class="info">
                       <li *ngIf="film.homepage"><b>Home page: </b>{{film.homepage}}</li>
                       <li><b>Release: </b>{{film.release_date}}</li>
                       <li><b>Runtime: </b>{{film.runtime}} min</li>
                       <li><b>Production Countries: </b>{{film.production_countries | extractElements}}</li>
                       <li><b>Genres: </b>{{film.genres | extractElements}}</li>
                       <!--or-->
                       <!--<ul *ngFor="let ganre of film.genres">-->
                       <!--<li>{{ganre.name}}</li>-->
                       <!--</ul>-->
                       <li><b>Production Companies: </b>{{film.production_companies | extractElements}}</li>
                       <li><b>Budget: </b>${{film.budget | replaceSum}} USD</li>
                       <li><b>Revenue: </b>${{film.revenue | replaceSum}} USD</li>
                   </ul>
                   <p>{{film.overview}}</p>
               </mat-card-content>
            </div>
        </mat-card>
    </div>

</section>
<div class="brand_container">
    <div class="g-col actor-list">
        <mat-card class="brand-card default actor g-col-6" *ngFor="let actor of actors">
            <div class="brand-card__img">
                <img *ngIf="actor.profile_path" src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}"
                     [routerLink]="['/people', actor.id]"/>
                <i *ngIf="!actor.profile_path" class="material-icons not-found-person">person</i>
            </div>
            <div class="brand-card__line-rate"></div>
            <footer class="brand-card__footer">
                <mat-card-title class="brand-card__title">
                    <a [routerLink]="['/actor', actor.id]" class="btn btn-danger btn-round">{{actor.name}}</a>
                </mat-card-title>

                <!--<mat-card-subtitle class="brand-card__rate">-->
                    <!--<mat-icon class="icon">star reta</mat-icon>-->
                    <!--<span>55</span>-->
                <!--</mat-card-subtitle>-->
            </footer>
        </mat-card>
    </div>
</div>

