<header class="content-header ch-animation">
  <div class="brand_container">
    <div class="content-header__section">Starlight /</div>
    <h1 class="content-header__title">{{title}}</h1>
  </div>
</header>
<section class="brand_container details">
  <div class="area"></div>
<section class="list-grid" *ngIf="people">

    <mat-card class="brand-card" *ngFor="let item of people">
        <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title class="brand-card__title" [routerLink]="['/people', item.id]">{{item.name}}</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <img mat-card-image [src]="imgUrl+item.profile_path" alt="{{item.name}}" [routerLink]="['/people', item.id]">
        <!--<mat-card-content>-->
            <!--<p>-->
                <!--The share knowledge, intelligence, and cultures. At the center of Alpha is a mysterious dark force which-->
                <!--threatens the peaceful existence of the City of a Thousand Planets, and Valerian and Laureline must race-->
                <!--to identify the menace and safeguard not just Alpha, but the future of the universe.-->
            <!--</p>-->
        <!--</mat-card-content>-->
        <!--<mat-card-actions>-->
            <!--<button mat-button>LIKE</button>-->
            <!--<button mat-button>SHARE</button>-->
        <!--</mat-card-actions>-->
        <!--<footer>-->
        <!--<mat-icon>stars</mat-icon> {{item.vote_average}} %-->
        <!--</footer>-->
    </mat-card>
</section>
</section>
